.content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    align-content: center;
}

.image-upload-form img {
    width: 100%;
    display: none;
}

.image-preview {
    /*display: none;*/
    max-width: 320px;
    max-height: 320px;
}

/*Glowing effect style*/
.glow-card {
    position: relative;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.glow-card:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
}

.glow-card:hover:before {
    opacity: 1;
}

/*.card:hover:active{*/
/*  background: none;*/
/*}*/
.glow-card:hover:active:before {
    filter: blur(2px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.hm-background {
    width: 100%;
    z-index: 1;
}

.hm-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 0.6;
}